.git/
data/
__pycache__/
.idea/
pretrain_models/Backbone_VIT_Epoch_2_Batch_20000_Time_2021-01-12-16-48_checkpoint.pth/
pretrain_models/Backbone_VITs_Epoch_2_Batch_12000_Time_2021-03-17-04-05_checkpoint.pth/
pretrain_models/best_model.pth/
git log/
pretrain_models/convert_base-1k.pth/
pretrain_models/ViTAE-B-22k.pth/
infonce_msvit/
visualize/